<section id="search-form" class="<%= @query ? 'search-with-query' : 'search-index' %>">
  <%= form_tag search_path, method: :get, class: 'search', autocomplete: :off do %>
    <%= text_field_tag :q, @query, placeholder: ' Just start typing ...', autofocus: true %>
  <% end %>
</section>

<% if @results %>
  <section id="search-results">
    <ul class="list-unstyled">
      <% @results.each do |result| %>
        <li>
          <a href="<%= result.url %>" ><%= result.title %></a>

          <p>
            <%= result.description %>
          </p>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>
