<section id="search-form" class="<%= @query ? 'search-with-query' : 'search-index' %>">
  <%= form_tag search_path, method: :get, class: 'search', autocomplete: :off do %>
    <%= text_field_tag :q, @query, placeholder: ' Just start typing ...', autofocus: true %>
  <% end %>
</section>

<% if @previous_query && !@search.annotated_at %>
  <section id="evaluations">
    <div id="evaluation-1" class="bs-callout bs-callout-default">
      <h4>
        Is this query related to your last one &ndash; <i><%= @previous_query.value %></i>?
      </h4>

      <p class="text-muted">
        <%= link_to 'Yes', merge_session_search_path(@previous_session, @search), remote: true %>
        &middot;
        <a href="#" class="no">No</a>
      </p>
    </div>

    <% if @previous_sessions.any? %>
      <div id="evaluation-2" class="hidden bs-callout bs-callout-default">
        <h4>
          Choose other related query
        </h4>

        <p>
          <ul class="list-inline">
            <% @previous_sessions.each do |session| %>
              <li>
                <%= link_to session.searches.last.query.value, merge_session_search_path(session, @search), remote: true %>
              </li>
            <% end  %>
          </ul>

          <p class="text-muted">Click <%= link_to 'here', merge_session_search_path(@current_session, @search), remote: true %> when none is related.</p>
        </p>
      </div>
    <% end %>
  </section>
<% end %>

<% if @results %>
  <section id="search-results">
    <ul class="list-unstyled">
      <% @results.each do |result| %>
        <li class="result">
          <a href="<%= result.url %>" target="_blank"><%= result.title %></a>

          <div class="text-muted"><%= result.url  %></div>

          <p>
            <%= result.description %>
          </p>
        </li>
      <% end %>
    </ul>

    <ul class="pager">
      <li class="previous <%= @page == 1 ? :disabled : nil %>">
        <%= link_to "&larr; Previous".html_safe, search_path(q: @query, page: @page - 1) %>
      </li>

      <% unless @page == 1 %>
        <li>
          <%= icon_link_to :home, 'Home', search_path(q: @query) %>
        </li>
      <% end %>

      <li class="next">
        <%= link_to "Next &rarr;".html_safe, search_path(q: @query, page: @page + 1), class: :next %>
      </li>
    </ul>
  </section>
<% end %>
